#minContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0.5em;
    width: 50%;
    margin: auto;
    margin-top: 0.5em;
}

input {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    flex: 5 1 0;
    border: 0;
    height: 1.5em;
}

#maxContainer {
    width: 50%;
    margin: auto;
}

/* #maxContainer div {
    display: flex;
} */

#mainControls {
    display: flex;
    gap: 0.5em;
}

#maxContainer #mainControls div{
    display: flex;
    flex-direction: column;
    flex: 5 1 0;
    margin: 0.5em;
    gap: 0.5em;
}

#addButton {
    flex: 1 1 0;
    height: 50%;
    margin: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

#additionalControls {
    justify-content: space-between;
    gap: 0.5em;
    margin: 0.5em;
    display: flex;
}

#expandButton {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.additionalControlItem {
    flex: 2 1 0;
}

.expandControlItem {
    flex: 1 1 0;
    display: flex;
    align-items: flex-end;
}

.expandControlItem button {
    height: 50px;
}