.stepsContainer {
    display: block;
    background-color: white;
    padding-top: 0.1em;
    border-radius: 0.5em;
    font-size: 1em;
    color: #333;
    min-height: 100%;
    box-sizing: border-box;
}

h4 {
    margin: 0.2em 0.5em;
    font-size: 1em;
}