#itemContainer {
    display: flex;
    text-align: left;
    border-radius: 0.5em;
    padding: 1% 3%;
    line-height: 0.5em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    background-color: white;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.priorityBadge {
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    align-self: center;
    margin-right: 1em;
    white-space: nowrap;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryInfo {
    display: flex   
}
/* #title {
    text-decoration: line-through;
} */