@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.radix-themes {
    --default-font-family: 'Roboto', sans-serif;
    --heading-font-family: 'Roboto', sans-serif;
    --default-font-size: var(--font-size-4);
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Removes default bullet points */
}