.navContainer {
    width: 100vw;
    height: 4em;
    box-shadow: var(--shadow-2);
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
}

.nav-button {
    padding: var(--space-1) var(--space-2);
    height: var(--size-2);
    margin: var(--space-1);
}

a {
    color: var(--color-primary);
}

.nav-selected {
    text-decoration: underline;
    text-decoration-color: var(--accent-9);
    text-underline-offset: 0.2em;
}