* {
    font-family: Roboto, sans-serif;
}

.p {
    font-family: Roboto;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw;
    height: 5vh;
    color: white;
    background-color: #1F2937;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 2vw;
}

.header ul li{
    font-size: 0.8rem;
}

.section-1 {
    display: flex;
    height: 24vh;
    box-sizing: border-box;
    padding: 8%;
    color: white;
    background-color: #1F2937;
}

.placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 button{
    background-color: #3882F6;;
    color: white;
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
}

.section-1 div {
    width: 50%;
}

.section-2 {
    height: 24vh;
    font-weight: 900;
}

.section-2 p {
    text-align: center;
}

.item-container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 1vh;
    list-style: none;
    font-size: 12px;
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 500;
}

.item-container div{
    height: 100px;
    margin: 5px;
    border-radius: 8px;
}

.item div {
    border-color: #3882F6;
    border-style: solid;
}

.section-3 {
    height: 23vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width:
}


.section-4 {
    height: 17vh;
}

.footer {
    height: 5vh;
    background-color: #1F2937;
}